
body {
    background-color: rgba(82, 177, 211, 0.427);
}
p {
    color: rgb(96, 25, 25);
}
h2 {
    color: rgb(88, 33, 33);
}
h1 {
    color: rgb(88, 33, 33);
}
h3 {
    color: rgb(88, 33, 33);
}
B {
    color: rgb(88, 33, 33);
}